@{
    ViewData["Title"] = "Listagem de cadastros";
}

//colocar autorized

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">

        <a class="btn btn-primary" role="button" asp-controller="Listar" asp-action="Cadastrar">Adicionar novo Contato</a>
    </div>

    <br />

    <h1 class="display-4">Listagem de contatos</h1>
    <div class="table-responsive">

        <table class="table caption-top">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fantasia</th>
                    <th scope="col">Razão Social</th>
                    <th scope="col">E-mail</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <th>
                        <div class="btn-group" role="group" aral-label="Basic example">
                            <a role="button" class="btn btn-primary" type="submit" asp-controller="Listar" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" type="submit" asp-controller="Listar" asp-action="ApagarConfirmacao">Apagar</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <th>
                        <div class="btn-group" role="group" aral-label="Basic example">
                            <a role="button" class="btn btn-primary" type="submit" asp-controller="Listar" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" type="submit" asp-controller="Listar" asp-action="ApagarConfirmacao">Apagar</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <th>
                        <div class="btn-group" role="group" aral-label="Basic example">
                            <a role="button" class="btn btn-primary" type="submit" asp-controller="Listar" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" type="submit" asp-controller="Listar" asp-action="ApagarConfirmacao">Apagar</a>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <div>
        </div>
