@model 

{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Faça seu cadastro abaixo:</h1>
    <p>Preencha seus dados para fazer a adesão do nosso plano!</a>.</p>


</div>
