@model WebApplication2.Models.PlanoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlanoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomePlano" class="control-label"></label>
                <input asp-for="NomePlano" class="form-control" />
                <span asp-validation-for="NomePlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermoDeUso" class="control-label"></label>
                <input asp-for="TermoDeUso" class="form-control" />
                <span asp-validation-for="TermoDeUso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoPlano" class="control-label"></label>
                <input asp-for="PrecoPlano" class="form-control" />
                <span asp-validation-for="PrecoPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescontoPlano" class="control-label"></label>
                <input asp-for="DescontoPlano" class="form-control" />
                <span asp-validation-for="DescontoPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoPlano" class="control-label"></label>
                <input asp-for="tipoPlano" class="form-control" />
                <span asp-validation-for="tipoPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParceiroId" class="control-label"></label>
                <select asp-for="ParceiroId" class ="form-control" asp-items="ViewBag.ParceiroId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
